.tabber button {
    color:white;
    border: 5px outset darkgray;
    border-bottom: 0px;
    border-left:0px;
    border-radius:8px 8px 0 0;
    background: gray;
    padding:3px 10px;
    min-width:75px;
    /* Cursor */
    cursor:pointer;
}
button:active {
    border-style:inset;
}